@import '../../App.scss';

.education-content {
    width: 1280px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.subtitle {
    color: #122D40;
    font-family: $suezone;
    font-size: 32px;
}

.education-card {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width < 768px) {
    .education-content {
        padding: 0;
        align-items: center;
        justify-content: start;
    }
    
    .education-card > img {
        width: 80%;
    }
}

@media (768px <= width < 1440px) {
    .education-content {
        padding: 0;
        align-items: center;
        justify-content: start;
    }
    
    .education-card > img {
        width: 80%;
    }
}