@import '../../App.scss';

.project-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Project Header */
.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    width: 20%;
}

.project-title>h2 {
    font-family: $suezone;
    font-size: 32px;
    color: #122D40;
}

.project-filters {
    display: flex;
    gap: 10px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.project-filter {
    padding: 8px 18px;
    background-color: #FFFFFF;
    border: 1px solid #303030;
    border-radius: 40px;
    cursor: pointer;
    font-family: $poppins;
    gap: 10px;
    display: flex;
}

.clear-filter {
    font-family: $poppins;
    font-weight: 400;
}

.project-filter:hover,
.search-button:hover {
    background-color: #f8f8f8;
    transition: all .1s ease-in;
}

.search-component {
    width: 20%;
}

/* Project Body */
.project-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Project Footer */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    align-items: center;
}

.pagination li {
    margin: 0 8px;
    display: inline-block;
    cursor: pointer;
    font-family: $poppins;
    font-size: 16px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #3A3A3A;
    color: #3A3A3A;
    border-radius: 12px;
}

.pagination li a:hover {
    background-color: #E3E3E3;
}

.pagination li.active a {
    background-color: #3A3A3A;
    color: #fff;
}

@media (width < 768px) {
    .project-content {
        max-width: 80%;
    }

    .project-header {
        flex-direction: column;
        gap: 14px;
    }

    .project-filters {
        margin-bottom: 14px;
    }

    .search-project {
        display: none;
    }
}

@media (width < 1440px) {
    .project-content {
        max-width: 80%;
    }

    .project-body {
        gap: 10px;
    }
}