@import '../../App.scss';

.project-card {
    display: flex;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #848484;
    border-radius: 20px;
    gap: 60px;
    box-shadow: 0 0 20px rgba(219, 219, 219, 0.2);
    max-width: 82%;
}

.project-name {
    color: $skyblue;
    font-size: 32px;
}

.project-img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img > img {
    width: 400px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info > h2 {
    font-family: $roboto;
    margin: 0;
}

.project-info > p {
    font-family: $rubik;
    font-size: 20px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 12px 15px;
    background-color: #1E1E1E;
    border-radius: 6px;
    margin-top: auto;
}

@media (width < 768px) {
    .project-card {
        margin: 20px auto;
        padding: 40px 20px;
        gap: 30px;
        flex-direction: column;
        max-width: 80%;
    }

    .project-img > img{
        width: 90%;
    }

    .project-info {
        margin: auto;
    }

    .project-info > h2 {
        font-size: 20px;
        text-align: center;
    }
    
    .project-info > p {
        font-size: 16px;
        text-align: center;
    }

    .technologies {
        width: 80%;
        gap: 8px;
        margin: 0 auto 10px auto;
    }
}

@media (768px <= width < 1440px) {
    .project-card {
        max-width: 60%;
    }

    .project-img > img {
        width: 200px;
    }
}