@import '../../App.scss';

.profile-content {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info,
.profile-photo {
    width: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.profile-text>span {
    font-family: $lora;
    font-size: 24px;
    color: #2E5A76;
    margin: 0;
}

.profile-text>h1 {
    font-family: $suezone;
    font-size: 64px;
    color: #2E5A76;
    padding: 6px 0 14px 0;

    background: -moz-linear-gradient(90deg, rgba(65, 210, 145, 1) 30%, rgba(96, 135, 244, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(65, 210, 145, 1) 30%, rgba(96, 135, 244, 1) 100%);
    background: linear-gradient(90deg, rgba(65, 210, 145, 1) 30%, rgba(96, 135, 244, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 76px;
    font-weight: 900;
    text-align: center;
    line-height: 95px;
    margin: 0;
}

.profile-text>p {
    font-family: $lora;
    font-size: 20px;
    color: #2E5A76;
    margin: 0;
}

.profile-actions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.hire-me {
    background-color: #F95959;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 500;
}

.hire-me:hover {
    background-color: #FF4D4D;
    padding: 13px 25px;
    transition: all .3s ease-in;
}

.cv {
    border: 1px solid #F95959;
    padding: 12px 24px;
    border-radius: 12px;
    color: #F95959;
    text-decoration: none;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 500;
}

.cv:hover {
    padding: 13px 25px;
    transition: all .3s ease-in;
}

@media (width < 768px) {
    .profile-content {
        max-width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .profile-info,
    .profile-photo {
        width: 100%;
    }

    .profile-text>h2 {
        font-size: 48px;
    }

    .profile-photo>img {
        width: 90%;
    }
}

@media (width < 1440px) {
    .profile-content {
        max-width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .profile-info,
    .profile-photo {
        width: 100%;
    }

    .profile-photo>img {
        width: 70%;
    }
}