@import '../../App.scss';

.profile-content {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info,
.profile-photo {
    width: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.profile-text>h1 {
    font-family: $poppins;
    font-size: 64px;
    padding: 12px 0 32px 0;
    background: rgb(30,167,244);
    background: linear-gradient(90deg, rgba(30,167,244,1) 0%, rgba(141,58,246,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 72px;
    font-weight: 800;
    line-height: 95px;
    margin: 0;
}

.profile-text>p {
    font-family: $poppins;
    font-size: 20px;
    color: #f2f2f2;
    margin: 0;
}

.profile-actions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.hire-me {
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 500;
    background: rgb(30,167,244);
    background: linear-gradient(90deg, rgba(30,167,244,1) 0%, rgb(120, 50, 200) 100%);
}

.hire-me:hover {
    background: rgb(30,167,244);
    background: linear-gradient(90deg, rgba(30,160,244,1) 0%, rgb(110, 70, 200) 100%);
}

.cv {
    background-color: #F8F8F8;
    padding: 12px 24px;
    border-radius: 12px;
    color: #2A2A2A;
    text-decoration: none;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 500;
}

.cv:hover {
    background-color: #eeeeee;
}

@media (width < 768px) {
    .profile-content {
        width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .profile-info,
    .profile-photo {
        width: 100%;
    }

    .profile-text>h1 {
        font-size: 48px;
        line-height: 64px;
    }

    .profile-photo>img {
        width: 90%;
    }
}

@media (width < 1440px) {
    .profile-content {
        width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .profile-info,
    .profile-photo {
        width: 100%;
    }

    .profile-photo>img {
        width: 80%;
    }
}