@import '../../App.scss';

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 1px solid #F8F8F8;
    padding: 8px 0;
    gap: 6px;
    overflow: hidden;
    cursor: pointer;
    background-color: #F8F8F8;
}

.search-button>input {
    border: none;
    outline: none;
    width: 70%;
    background-color: transparent;
    transition: width .3s ease;
    font-family: $poppins;
}

@media (width < 768px) {
    .search-button {
        display: none;
    }
}

@media (768px <= width < 1440px) {
    .search-button {
        display: none;
    }
}