@import '../../App.scss';

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 1px solid #000000;
    padding: 8px 20px;
    gap: 6px;
    overflow: hidden;
    cursor: pointer;

    &.expanded {
        transition: all .3s ease;
    }

    &:hover {
        background-color: #F8F8F8;
    }
}

.search-button>input {
    border: none;
    outline: none;
    width: 0;
    width: 140px;
    background-color: transparent;
    transition: width .3s ease;
    font-family: $poppins;
}