@import '../../App.scss';

.about-content {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content > div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-info {
    flex-direction: column;
}

.about-info > h2 {
    color: #122D40;
    font-family: $suezone;
    font-size: 32px;
}

.about-info > p {
    color: #122D40;
    font-family: $lora;
    font-size: 20px;
}

@media (width < 768px) {
    .about-content {
        max-width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .about-content > div {
        width: 100%;
    }
}

@media (width < 1440px) {
    .about-content {
        max-width: 80%;
        flex-direction: column;
        gap: 60px;
    }

    .about-content > div {
        width: 100%;
    }
}