@import '../../App.scss';

.exp-info-container {
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 60px 40px;
}

.exp-info-container * {
    margin: 0;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.exp-main {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.exp-info {
    font-family: $poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.exp-info>h3 {
    font-weight: 500;
    color: #2A2A2A;
    font-size: 20px;
}

.exp-info>span {
    color: #888888;
    font-size: 20px;
}

.exp-location {
    padding: 8px 20px;
    background-color: #F2F2F2;
    border-radius: 12px;
}

.exp-location>h3 {
    font-size: 18px;
    font-family: $poppins;
    color: #2A2A2A;
    font-weight: 400;
}

.exp-description>p {
    color: #545454;
    font-size: 20px;
    font-family: $poppins;
    line-height: 36px;
}

@media (width < 768px) {
    .exp-info-container {
        padding: 40px 20px;
    }

    .exp-main {
        flex-direction: column;
        gap: 24px;
    }

    .exp-info {
        font-family: $poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }


    .exp-info>h3 {
        font-size: 18px;
        text-align: center;
    }

    .exp-info>span {
        font-size: 18px;
    }

    .exp-location {
        display: none;
    }

    .exp-description>p {
        font-size: 16px;
        line-height: normal;
    }
}

@media (768px <= width < 1440px) {
    .exp-info-container {
        padding: 40px;
    }

    .exp-header {
        flex-direction: column;
        gap: 20px;
    }

    .exp-main {
        flex-direction: column;
        gap: 24px;
    }

    .exp-info {
        font-family: $poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .exp-info>h3 {
        font-size: 20px;
        text-align: center;
    }

    .exp-info>span {
        font-size: 18px;
    }

    .exp-description>p {
        font-size: 18px;
        line-height: normal;
        text-align: center;
    }

    .exp-main > img {
        width: 80px;
    }
}