@import '../../App.scss';

.skill-card {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding-right: 12px;
    border-radius: 6px;
    width: 20%;
}

.skill-card>img {
    width: 30px;
}

.skill-card>span {
    font-size: 16px;
}

@media (width < 768px) {
    .skill-card {
        padding: 10px;
        width: 90%;
    }
}

@media (768px <= width < 1440px) {
    .skill-card {
        padding: 10px;
        width: 90%;
    }
}