@import '../../App.scss';

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #EFEFEF;
    background-color: #2A2A2A;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .close {
        display: none;
    }
}

.nav-content {
    padding: 16px 0;
    width: 1280px;
    color: #EFEFEF;
}

.nav-content,
.nav-content>div,
.nav-content>nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main {
    gap: 15px;
}

.nav-main>h2 {
    font-weight: 500;
    font-size: 16px;
    font-family: $poppins;
}

.nav-links {
    gap: 6px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links>a {
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 24px;
    font-family: $poppins;
    text-decoration: none;
    color: #EFEFEF;
    font-weight: 500;
}

.nav-links>a:hover {
    color: rgb(30, 133, 244);
    transition: all .1s ease-out;
}

.nav-social {
    gap: 10px;
}

.nav-social>a {
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.nav-social>a:hover {
    border: 1px solid rgb(30, 133, 244);
    transition: all .1s ease-out;
}

.nav-social>a:hover svg path {
    fill: rgb(30, 133, 244);
    transition: all .1s ease-out;
}

.navbar > hr {
    border-bottom: 1px solid #CCCCCC;
    display: none;
}

@media (width < 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar > hr {
        display: block;
    }

    header.visible {
        display: flex;
        flex-direction: column;
    }

    .close-container {
        width: 80%;
    }

    .close {
        width: 30px;
        display: block;
        position: absolute;
        top: 2%;
        left: 4%;
    }

    .menu {
        display: block;
        position: fixed;
        cursor: pointer;
        padding: 16px;
        background-color: #2A2A2A;
        width: 100%;
    }

    .menu>img {
        width: 30px;
    }

    header {
        display: none;

        &.visible {
            .close {
                display: block;
            }
        }
    }

    .nav-content {
        width: 100%;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
    }

    .nav-main {
        gap: 10px;
    }

    .nav-main>img {
        width: 24px;
    }

    .nav-main>h1 {
        font-size: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 0;
    }

    .nav-links>a {
        padding: 24px 0;
        width: 100vw;
        text-align: center;
        border-radius: 0;
    }

    .nav-social {
        justify-content: space-around;
    }

    .nav-links>a:hover {
        background-color: #eeeeee;
    }

    .nav-social>a>img {
        padding: 6px;
        width: 16px;
    }
}

@media (768px <=width < 1440px) {
    .nav-content {
        width: 80%;
        padding: 16px 0;
    }

    .nav-links * {
        display: none;
    }
}