@import '../../App.scss';

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #EFEFEF;
    background-color: #2A2A2A;
    z-index: 1;
}

.nav-content {
    padding: 16px 0;
    width: 1280px;
    color: #EFEFEF;
}

.nav-content, .nav-content > div, .nav-content > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main {
    gap: 15px;
}

.nav-main > h2 {
    font-weight: 500;
    font-size: 16px;
    font-family: $poppins;
}

.nav-links {
    gap: 6px;
    margin: 0 auto;
}

.nav-links > a {
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 24px;
    font-family: $poppins;
    text-decoration: none;
    color: #EFEFEF;
    font-weight: 500;
}

.nav-links > a:hover {
    color: rgba(30,167,244);
}

.nav-social {
    gap: 10px;
}

.nav-social > a {
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.nav-social > a:hover {
    border: 1px solid rgba(30,167,244);
}

.nav-social > a:hover svg path {
    fill: rgba(30,167,244);
}

@media (width < 768px) {
    .nav-content {
        max-width: 650px;
        padding: 16px;
    }

    .nav-main {
        gap: 10px;
    }

    .nav-main > img {
        display: none;
    }
    
    .nav-main > h1 {
        font-size: 20px;
    }

    .nav-social {
        gap: 6px;
    }
    
    .nav-social > a > img {
        padding: 6px;
        width: 16px;
    }
}

@media (width < 1440px) {
    .nav-content {
        width: 1200px;
        padding: 16px 32px;
    }

    .nav-links *{
        display: none;
    }
}