@import '../../App.scss';

header {
    display: flex;
    justify-content: center;
}

.nav-content {
    border-bottom: solid 1px #EFEFEF;
    background-color: white;
    padding: 16px 0;
    width: 1280px;
    color: #2E5A76;
}

.nav-content, .nav-content > div, .nav-content > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main {
    gap: 15px;
}

.nav-main > h1 {
    font-weight: 500;
    font-size: 16px;
    font-family: $poppins;
}

.nav-links {
    gap: 6px;
    margin: 0 auto;
}

.nav-links > a {
    font-size: 16px;
    padding: 16px 22px;
    border-radius: 24px;
    font-family: $poppins;
    text-decoration: none;
}

.nav-links > a:hover {
    background-color: #EFEFEF;
}

.nav-social {
    gap: 16px;
}

.nav-social > a {
    border: 1px solid #2A2A2A;
    border-radius: 50%;
}

.nav-social > a:hover {
    background-color: #EFEFEF;
}

.nav-social > a > img {
    display: block;
    margin: auto;
    padding: 10px;
    width: 20px;
}

@media (width < 768px) {
    .nav-content {
        max-width: 650px;
        padding: 16px;
    }

    .nav-main {
        gap: 10px;
    }

    .nav-main > img {
        display: none;
    }
    
    .nav-main > h1 {
        font-size: 20px;
    }

    .nav-social {
        gap: 6px;
    }
    
    .nav-social > a > img {
        padding: 6px;
        width: 16px;
    }
}

@media (width < 1440px) {
    .nav-content {
        width: 1200px;
        padding: 16px 32px;
    }

    .nav-links *{
        display: none;
    }
}