@import '../../App.scss';

.btn-technology {
    display: flex;
    padding: 5px;
    width: auto;
    border-radius: 4px;
}

.btn-technology *  {
    margin: auto;
}

@media (width <= 767px) {
    .btn-technology {
        margin: 0 auto;
    }

    .btn-technology > span {
        font-size: 8px;
    }
}

@media (768px <= width < 1440px) {
    .btn-technology {
        margin: 0 auto;
    }
}