@import '../../App.scss';

.btn-technology {
    display: flex;
    padding: 5px;
    width: auto;
    border-radius: 4px;
}

.btn-technology > img {
    margin: auto;
    width: 24px;
}

@media (width <= 767px) {
    .btn-technology {
        margin: 0 auto;
    }

    .btn-technology > img {
        margin: auto;
        width: 14px;
    }
}

@media (768px <= width < 1440px) {
    .btn-technology {
        margin: 0 auto;
    }

    .btn-technology > img {
        width: 20px;
    }
}