@import '../../App.scss';

.experience-content {
    width: 1280px;
}

.experience-content > h2 {
    font-family: $suezone;
    font-size: 32px;
    text-align: center;
    color: #F5F5F5;
    margin-bottom: 40px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

@media (width < 768px) {
    .experience-content {
        width: 80%;
    }

}

@media (768px <= width < 1440px) {
    .experience-content {
        width: 75%;
    }

    .experience-content > h2 {
        margin-bottom: 60px;
    }

    .jobs-container {
        flex-direction: column;
    }
}