@import '../../App.scss';

.experience-content {
    width: 1280px;
}

.experience-content > h2 {
    font-family: $suezone;
    font-size: 32px;
    text-align: center;
    color: #F5F5F5;
    margin-bottom: 80px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}