@import '../../App.scss';

.experience-card {
    display: flex;
    margin: 5rem 0;
    gap: 12rem;
}

.experience-info {
    margin-right: auto;
}

.role {
    font-family: $roboto;
    font-size: 32px;
    margin-bottom: 10px;
    color: $skyblue;
}

.time {
    font-family: $rubik;
    color: $lightgray;
    font-size: 16px;
    margin-bottom: 20px;
}

.description {
    font-family: $rubik;
    text-wrap: pretty;
    color: #DBDBDB;
    font-size: 20px;
}

.company-image {
    display: block;
    margin: auto 0;
}

@media (width <=767px) {
    .experience-card {
        flex-direction: column;
        margin: 20px auto;
        width: 95%;
        gap: 1rem;
    }

    .experience-info {
        margin: 0 auto;
        width: 80%;
        padding: 0 1rem;
    }

    .role {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .time {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
    }

    .company-image {
        display: block;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    .company-image > img {
        width: 280px;
    }
}

@media (768px <=width < 1440px) {
    .experience-card {
        display: flex;
        gap: 0;
        margin: 4rem auto;
        width: 70%;
    }

    .experience-info {
        margin-right: 2rem;
        width: 40%;
    }

    .role {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
    }

    .time {
        font-size: 12px;
        margin-bottom: 20px;
        text-align: left;
    }

    .description {
        font-size: 12px;
        text-align: left;
    }

    .company-image {
        display: block;
        margin: auto;
    }

    .company-image>img {
        width: 200px;
    }
}