/* Fonts */
$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

/* Colors */
$background: #161616;
$lightgray: #98A4AE;
$blue: #2979FF;
$skyblue: #3498DB;

/* General Styles */
body {
    background-color: $background;
    color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    right: 5%;
    top: 36%;
    gap: 3rem;
    position: fixed;
}

.main {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    font-family: $roboto-slab;
    font-size: 48px;
    margin: 50px auto;
    color: $blue;
    font-weight: bold;
}

.experience-container {
    margin: 50px 0;
}

a {
    text-decoration: none;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

@media (width < 768px) {
    header {
        left: 0;
        right: 0;
        top: auto;
        flex-direction: row;
        height: auto;
        width: 80%;
        justify-content: center;
        align-items: center;
        bottom: 1.5%;
        z-index: 1000;
        margin: 0 auto;
        padding: 20px;
        background-color: #292929e6;
        gap: 50px;
        border-radius: 15px;
    }

    .subtitle {
        font-size: 36px;
        margin: 30px 0;
    }

}

@media (768px <=width < 1440px) {

    .subtitle {
        font-size: 32px;
    }

}