@import 'react-responsive-modal/styles.css';

/* Fonts */
$suezone: "Suez One", serif;
$lora: "Lora", serif;
$poppins: "Poppins", sans-serif;

/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Profile */
.profile-container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD6EA;
}

/* About Me */
.about-container {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

/* Experience */
.experience-container {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

/* Pre Project */
.pre-project {
    background-color: #BAD6EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.pre-project > span {
    color: #122D40;
    font-family: $suezone;
    font-size: 32px;
}

/* Projects */
.project-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

/* Education */
.education-container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 502px;
}

/* Copyright */
.copyright {
    background-color: #122D40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.copyright > span {
    color: #EAEAEA;
    font-family: $poppins;
    font-weight: 500;
    font-size: 16px;
}

@media (width < 768px) {
    .profile-container, .about-container, .education-container {
        height: auto;
        padding: 40px 0;
    }

    .pre-project > span {
        font-size: 20px;
    }

    .copyright > span {
        font-size: 14px;
    }
}

@media (width < 1440px) {
    .profile-container, .about-container, .education-container {
        height: auto;
        padding: 80px 0;
    }
}