@tailwind base;
@tailwind components;
@tailwind utilities;

.presentation {
    background-image: url('/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-color: #0A0A0A;
}

.bento, .project-card {
    background-color: rgba(62, 59, 64, 0.5);
}

@media (width <= 390px) {
    .presentation {
        background-image: url('/background/background_sm.webp');
    }
}

@media (390px < width < 1440px) {
    .presentation {
        background-image: url('/background/background_md.webp');
    }
}